/* Material Color */
.Red-50{background-color:#ffebee;color:#000;}
.Red-100{background-color:#ffcdd2;color:#000;}
.Red-200{background-color:#ef9a9a;color:#000;}
.Red-300{background-color:#e57373;color:#000;}
.Red-400{background-color:#ef5350;color:#fff;}
.Red-500{background-color:#f44336;color:#fff;}
.Red-600{background-color:#e53935;color:#fff;}
.Red-700{background-color:#d32f2f;color:#fff;}
.Red-800{background-color:#c62828;color:#fff;}
.Red-900{background-color:#b71c1c;color:#fff;}
.Red-A100{background-color:#ff8a80;color:#000;}
.Red-A200{background-color:#ff5252;color:#fff;}
.Red-A400{background-color:#ff1744;color:#fff;}
.Red-A700{background-color:#d50000;color:#fff;}

.Pink-50{background-color:#fce4ec;color:#000;}
.Pink-100{background-color:#f8bbd0;color:#000;}
.Pink-200{background-color:#f48fb1;color:#000;}
.Pink-300{background-color:#f06292;color:#fff;}
.Pink-400{background-color:#ec407a;color:#fff;}
.Pink-500{background-color:#e91e63;color:#fff;}
.Pink-600{background-color:#d81b60;color:#fff;}
.Pink-700{background-color:#c2185b;color:#fff;}
.Pink-800{background-color:#ad1457;color:#fff;}
.Pink-900{background-color:#880e4f;color:#fff;}
.Pink-A100{background-color:#ff80ab;color:#000;}
.Pink-A200{background-color:#ff4081;color:#fff;}
.Pink-A400{background-color:#f50057;color:#fff;}
.Pink-A700{background-color:#c51162;color:#fff;}

.Purple-50{background-color:#f3e5f5;color:#000;}
.Purple-100{background-color:#e1bee7;color:#000;}
.Purple-200{background-color:#ce93d8;color:#000;}
.Purple-300{background-color:#ba68c8;color:#fff;}
.Purple-400{background-color:#ab47bc;color:#fff;}
.Purple-500{background-color:#9c27b0;color:#fff;}
.Purple-600{background-color:#8e24aa;color:#fff;}
.Purple-700{background-color:#7b1fa2;color:#fff;}
.Purple-800{background-color:#6a1b9a;color:#fff;}
.Purple-900{background-color:#4a148c;color:#fff;}
.Purple-A100{background-color:#ea80fc;color:#000;}
.Purple-A200{background-color:#e040fb;color:#fff;}
.Purple-A400{background-color:#d500f9;color:#fff;}
.Purple-A700{background-color:#aa00ff;color:#fff;}

.Deep-Purple-50{background-color:#ede7f6;color:#000;}
.Deep-Purple-100{background-color:#d1c4e9;color:#000;}
.Deep-Purple-200{background-color:#b39ddb;color:#000;}
.Deep-Purple-300{background-color:#9575cd;color:#fff;}
.Deep-Purple-400{background-color:#7e57c2;color:#fff;}
.Deep-Purple-500{background-color:#673ab7;color:#fff;}
.Deep-Purple-600{background-color:#5e35b1;color:#fff;}
.Deep-Purple-700{background-color:#512da8;color:#fff;}
.Deep-Purple-800{background-color:#4527a0;color:#fff;}
.Deep-Purple-900{background-color:#311b92;color:#fff;}
.Deep-Purple-A100{background-color:#b388ff;color:#000;}
.Deep-Purple-A200{background-color:#7c4dff;color:#fff;}
.Deep-Purple-A400{background-color:#651fff;color:#fff;}
.Deep-Purple-A700{background-color:#6200ea;color:#fff;}

.Indigo-50{background-color:#e8eaf6;color:#000;}
.Indigo-100{background-color:#c5cae9;color:#000;}
.Indigo-200{background-color:#9fa8da;color:#000;}
.Indigo-300{background-color:#7986cb;color:#fff;}
.Indigo-400{background-color:#5c6bc0;color:#fff;}
.Indigo-500{background-color:#3f51b5;color:#fff;}
.Indigo-600{background-color:#3949ab;color:#fff;}
.Indigo-700{background-color:#303f9f;color:#fff;}
.Indigo-800{background-color:#283593;color:#fff;}
.Indigo-900{background-color:#1a237e;color:#fff;}
.Indigo-A100{background-color:#8c9eff;color:#000;}
.Indigo-A200{background-color:#536dfe;color:#fff;}
.Indigo-A400{background-color:#3d5afe;color:#fff;}
.Indigo-A700{background-color:#304ffe;color:#fff;}

.Blue-50{background-color:#e3f2fd;color:#000;}
.Blue-100{background-color:#bbdefb;color:#000;}
.Blue-200{background-color:#90caf9;color:#000;}
.Blue-300{background-color:#64b5f6;color:#000;}
.Blue-400{background-color:#42a5f5;color:#000;}
.Blue-500{background-color:#2196f3;color:#fff;}
.Blue-600{background-color:#1e88e5;color:#fff;}
.Blue-700{background-color:#1976d2;color:#fff;}
.Blue-800{background-color:#1565c0;color:#fff;}
.Blue-900{background-color:#0d47a1;color:#fff;}
.Blue-A100{background-color:#82b1ff;color:#000;}
.Blue-A200{background-color:#448aff;color:#fff;}
.Blue-A400{background-color:#2979ff;color:#fff;}
.Blue-A700{background-color:#2962ff;color:#fff;}

.Light-Blue-50{background-color:#e1f5fe;color:#000;}
.Light-Blue-100{background-color:#b3e5fc;color:#000;}
.Light-Blue-200{background-color:#81d4fa;color:#000;}
.Light-Blue-300{background-color:#4fc3f7;color:#000;}
.Light-Blue-400{background-color:#29b6f6;color:#000;}
.Light-Blue-500{background-color:#03a9f4;color:#000;}
.Light-Blue-600{background-color:#039be5;color:#fff;}
.Light-Blue-700{background-color:#0288d1;color:#fff;}
.Light-Blue-800{background-color:#0277bd;color:#fff;}
.Light-Blue-900{background-color:#01579b;color:#fff;}
.Light-Blue-A100{background-color:#80d8ff;color:#000;}
.Light-Blue-A200{background-color:#40c4ff;color:#000;}
.Light-Blue-A400{background-color:#00b0ff;color:#000;}
.Light-Blue-A700{background-color:#0091ea;color:#fff;}

.Cyan-50{background-color:#e0f7fa;color:#000;}
.Cyan-100{background-color:#b2ebf2;color:#000;}
.Cyan-200{background-color:#80deea;color:#000;}
.Cyan-300{background-color:#4dd0e1;color:#000;}
.Cyan-400{background-color:#26c6da;color:#000;}
.Cyan-500{background-color:#00bcd4;color:#000;}
.Cyan-600{background-color:#00acc1;color:#000;}
.Cyan-700{background-color:#0097a7;color:#fff;}
.Cyan-800{background-color:#00838f;color:#fff;}
.Cyan-900{background-color:#006064;color:#fff;}
.Cyan-A100{background-color:#84ffff;color:#000;}
.Cyan-A200{background-color:#18ffff;color:#000;}
.Cyan-A400{background-color:#00e5ff;color:#000;}
.Cyan-A700{background-color:#00b8d4;color:#000;}

.Teal-50{background-color:#e0f2f1;color:#000;}
.Teal-100{background-color:#b2dfdb;color:#000;}
.Teal-200{background-color:#80cbc4;color:#000;}
.Teal-300{background-color:#4db6ac;color:#000;}
.Teal-400{background-color:#26a69a;color:#000;}
.Teal-500{background-color:#009688;color:#fff;}
.Teal-600{background-color:#00897b;color:#fff;}
.Teal-700{background-color:#00796b;color:#fff;}
.Teal-800{background-color:#00695c;color:#fff;}
.Teal-900{background-color:#004d40;color:#fff;}
.Teal-A100{background-color:#a7ffeb;color:#000;}
.Teal-A200{background-color:#64ffda;color:#000;}
.Teal-A400{background-color:#1de9b6;color:#000;}
.Teal-A700{background-color:#00bfa5;color:#000;}

.Green-50{background-color:#e8f5e9;color:#000;}
.Green-100{background-color:#c8e6c9;color:#000;}
.Green-200{background-color:#a5d6a7;color:#000;}
.Green-300{background-color:#81c784;color:#000;}
.Green-400{background-color:#66bb6a;color:#000;}
.Green-500{background-color:#4caf50;color:#000;}
.Green-600{background-color:#43a047;color:#fff;}
.Green-700{background-color:#388e3c;color:#fff;}
.Green-800{background-color:#2e7d32;color:#fff;}
.Green-900{background-color:#1b5e20;color:#fff;}
.Green-A100{background-color:#b9f6ca;color:#000;}
.Green-A200{background-color:#69f0ae;color:#000;}
.Green-A400{background-color:#00e676;color:#000;}
.Green-A700{background-color:#00c853;color:#000;}

.Light-Green-50{background-color:#f1f8e9;color:#000;}
.Light-Green-100{background-color:#dcedc8;color:#000;}
.Light-Green-200{background-color:#c5e1a5;color:#000;}
.Light-Green-300{background-color:#aed581;color:#000;}
.Light-Green-400{background-color:#9ccc65;color:#000;}
.Light-Green-500{background-color:#8bc34a;color:#000;}
.Light-Green-600{background-color:#7cb342;color:#000;}
.Light-Green-700{background-color:#689f38;color:#fff;}
.Light-Green-800{background-color:#558b2f;color:#fff;}
.Light-Green-900{background-color:#33691e;color:#fff;}
.Light-Green-A100{background-color:#ccff90;color:#000;}
.Light-Green-A200{background-color:#b2ff59;color:#000;}
.Light-Green-A400{background-color:#76ff03;color:#000;}
.Light-Green-A700{background-color:#64dd17;color:#000;}

.Lime-50{background-color:#f9fbe7;color:#000;}
.Lime-100{background-color:#f0f4c3;color:#000;}
.Lime-200{background-color:#e6ee9c;color:#000;}
.Lime-300{background-color:#dce775;color:#000;}
.Lime-400{background-color:#d4e157;color:#000;}
.Lime-500{background-color:#cddc39;color:#000;}
.Lime-600{background-color:#c0ca33;color:#000;}
.Lime-700{background-color:#afb42b;color:#000;}
.Lime-800{background-color:#9e9d24;color:#000;}
.Lime-900{background-color:#827717;color:#fff;}
.Lime-A100{background-color:#f4ff81;color:#000;}
.Lime-A200{background-color:#eeff41;color:#000;}
.Lime-A400{background-color:#c6ff00;color:#000;}
.Lime-A700{background-color:#aeea00;color:#000;}

.Yellow-50{background-color:#fffde7;color:#000;}
.Yellow-100{background-color:#fff9c4;color:#000;}
.Yellow-200{background-color:#fff59d;color:#000;}
.Yellow-300{background-color:#fff176;color:#000;}
.Yellow-400{background-color:#ffee58;color:#000;}
.Yellow-500{background-color:#ffeb3b;color:#000;}
.Yellow-600{background-color:#fdd835;color:#000;}
.Yellow-700{background-color:#fbc02d;color:#000;}
.Yellow-800{background-color:#f9a825;color:#000;}
.Yellow-900{background-color:#f57f17;color:#000;}
.Yellow-A100{background-color:#ffff8d;color:#000;}
.Yellow-A200{background-color:#ffff00;color:#000;}
.Yellow-A400{background-color:#ffea00;color:#000;}
.Yellow-A700{background-color:#ffd600;color:#000;}

.Amber-50{background-color:#fff8e1;color:#000;}
.Amber-100{background-color:#ffecb3;color:#000;}
.Amber-200{background-color:#ffe082;color:#000;}
.Amber-300{background-color:#ffd54f;color:#000;}
.Amber-400{background-color:#ffca28;color:#000;}
.Amber-500{background-color:#ffc107;color:#000;}
.Amber-600{background-color:#ffb300;color:#000;}
.Amber-700{background-color:#ffa000;color:#000;}
.Amber-800{background-color:#ff8f00;color:#000;}
.Amber-900{background-color:#ff6f00;color:#000;}
.Amber-A100{background-color:#ffe57f;color:#000;}
.Amber-A200{background-color:#ffd740;color:#000;}
.Amber-A400{background-color:#ffc400;color:#000;}
.Amber-A700{background-color:#ffab00;color:#000;}

.Orange-50{background-color:#fff3e0;color:#000;}
.Orange-100{background-color:#ffe0b2;color:#000;}
.Orange-200{background-color:#ffcc80;color:#000;}
.Orange-300{background-color:#ffb74d;color:#000;}
.Orange-400{background-color:#ffa726;color:#000;}
.Orange-500{background-color:#ff9800;color:#000;}
.Orange-600{background-color:#fb8c00;color:#000;}
.Orange-700{background-color:#f57c00;color:#000;}
.Orange-800{background-color:#ef6c00;color:#fff;}
.Orange-900{background-color:#e65100;color:#fff;}
.Orange-A100{background-color:#ffd180;color:#000;}
.Orange-A200{background-color:#ffab40;color:#000;}
.Orange-A400{background-color:#ff9100;color:#000;}
.Orange-A700{background-color:#ff6d00;color:#000;}

.Deep-Orange-50{background-color:#fbe9e7;color:#000;}
.Deep-Orange-100{background-color:#ffccbc;color:#000;}
.Deep-Orange-200{background-color:#ffab91;color:#000;}
.Deep-Orange-300{background-color:#ff8a65;color:#000;}
.Deep-Orange-400{background-color:#ff7043;color:#000;}
.Deep-Orange-500{background-color:#ff5722;color:#fff;}
.Deep-Orange-600{background-color:#f4511e;color:#fff;}
.Deep-Orange-700{background-color:#e64a19;color:#fff;}
.Deep-Orange-800{background-color:#d84315;color:#fff;}
.Deep-Orange-900{background-color:#bf360c;color:#fff;}
.Deep-Orange-A100{background-color:#ff9e80;color:#000;}
.Deep-Orange-A200{background-color:#ff6e40;color:#000;}
.Deep-Orange-A400{background-color:#ff3d00;color:#fff;}
.Deep-Orange-A700{background-color:#dd2c00;color:#fff;}

.Brown-50{background-color:#efebe9;color:#000;}
.Brown-100{background-color:#d7ccc8;color:#000;}
.Brown-200{background-color:#bcaaa4;color:#000;}
.Brown-300{background-color:#a1887f;color:#fff;}
.Brown-400{background-color:#8d6e63;color:#fff;}
.Brown-500{background-color:#795548;color:#fff;}
.Brown-600{background-color:#6d4c41;color:#fff;}
.Brown-700{background-color:#5d4037;color:#fff;}
.Brown-800{background-color:#4e342e;color:#fff;}
.Brown-900{background-color:#3e2723;color:#fff;}

.Grey-50{background-color:#fafafa;color:#000;}
.Grey-100{background-color:#f5f5f5;color:#000;}
.Grey-200{background-color:#eeeeee;color:#000;}
.Grey-300{background-color:#e0e0e0;color:#000;}
.Grey-400{background-color:#bdbdbd;color:#000;}
.Grey-500{background-color:#9e9e9e;color:#000;}
.Grey-600{background-color:#757575;color:#fff;}
.Grey-700{background-color:#616161;color:#fff;}
.Grey-800{background-color:#424242;color:#fff;}
.Grey-900{background-color:#212121;color:#fff;}

.Blue-Grey-50{background-color:#eceff1;color:#000;}
.Blue-Grey-100{background-color:#cfd8dc;color:#000;}
.Blue-Grey-200{background-color:#b0bec5;color:#000;}
.Blue-Grey-300{background-color:#90a4ae;color:#000;}
.Blue-Grey-400{background-color:#78909c;color:#fff;}
.Blue-Grey-500{background-color:#607d8b;color:#fff;}
.Blue-Grey-600{background-color:#546e7a;color:#fff;}
.Blue-Grey-700{background-color:#455a64;color:#fff;}
.Blue-Grey-800{background-color:#37474f;color:#fff;}
.Blue-Grey-900{background-color:#263238;color:#fff;}

.Black{background-color:#000;color:#fff;}
.White{background-color:#fff;color:#000;}

.Black-alpha{color:rgba(0,0,0,.87);}
.Black-alpha-54{color:rgba(0,0,0,.54);}
.Black-alpha-26{color:rgba(0,0,0,.26);}
.bg-Black-alpha{background-color:rgba(0,0,0,.87);}
.bg-Black-alpha-54{background-color:rgba(0,0,0,.54);}
.bg-Black-alpha-26{background-color:rgba(0,0,0,.26);}

.White-alpha{color:rgba(255,255,255,.87);}
.White-alpha-54{color:rgba(255,255,255,.54);}
.White-alpha-26{color:rgba(255,255,255,.26);}
.bg-White-alpha{background-color:rgba(255,255,255,.87);}
.bg-White-alpha-54{background-color:rgba(255,255,255,.54);}
.bg-White-alpha-26{background-color:rgba(255,255,255,.26);}
/* Material Color End */
