/*@import url(normalize.css);*/
@import url(reset.css);
@import url(base.css);


:root{
  var-companyBlue:#369;
  var-lighterBlue:powderblue;
}

h1{
  color:var(companyBlue);
}
h2{
  color:var(lighterBlue);
}

body{font-family:-apple-system,'PingFang SC',sans-serif;}











